<!-- sports matches -->

<%= form_for @match, url: tab_sports_matches_path do |f| %>
	<%= hidden_field_tag :tab_id, params[:tab_id] %>
	<div id="card">
		<%= f.label translate("Create a match"), class: :form_label_text %>
		<p>
			<% options = [[translate("Choose the first team"), nil]] %>
			<% SportsTeam.all.each { |team| options << [team.name, team.id] } %>
			<%= select_tag :team_1, options_for_select(options), class: "form-control" %>
		</p>
		<p>
			<% options[0] = [translate("Choose the second team"), nil] %>
			<%= select_tag :team_2, options_for_select(options), class: "form-control" %>
		</p>
		<p class="form-control">
			<%= f.label "Exhibition" %>
			<%= f.check_box :exhibition %>
		</p>
		<p>
			<%= f.file_field :image, class: "form-control" %>
		</p>
		<p>
			<%= f.submit translate("Submit"), class: "btn btn-default btn-lg btn-block" %>
		</p>
	</div>
<% end %>
