<!-- sports matches -->

<div id="card">
	<div align="center">
		<p>
			<%= translate("Teams") + ": " %>
			<% for team in @match.teams %>
				<%= link_to team.name, sports_team_path(team) %><%= \
					", " if team != @match.teams.last and @match.teams.size > 1 %>
			<% end %>
		</p>
		<p>
			<%= @match.date %>
		</p>
		<div>
			<%= @match.location %>
		</div>
	</div>
</div>

<% if privileged? %>
	<div id="card">
		<div align="center">
			<div id="who_won_header"><%= translate("Who won?") %></div>
			<table id="who_won_button_table">
				<tr>
					<td class="link_table_spacing">
						<%= link_to team_won_path(@match, @match.teams.first), class: "btn btn-default" do %>
							<%= @match.teams.first.name %>
						<% end %>
					</td>
					<td class="link_table_spacing">
						<%= link_to teams_tied_path(@match), class: "btn btn-default", title: translate("Tie") do %>
							=
						<% end %>
					</td>
					<td>
						<%= link_to team_won_path(@match, @match.teams.second), class: "btn btn-default" do %>
							<%= @match.teams.second.name %>
						<% end %>
					</td>
				</tr>
			</table>
		</div>
	</div>
<% end %>