<!-- sports matches -->

<div id="card">
	<div align="center">
		<p>
			<%= translate("Teams") + ": " %>
			<% for team in @match.teams %>
				<%= link_to team.name, sports_team_path(team) %><%= \
					", " if team != @match.teams.last and @match.teams.size > 1 %>
			<% end %>
		</p>
		<p>
			<%= @match.date %>
		</p>
		<div>
			<%= @match.location %>
		</div>
	</div>
</div>

<% if privileged? %>
	<%= render "stats/new" %>
<% end %>
