<!-- notes -->

<div id="card">
	<div align="center" id="notes_card">
		<%= render "notes/time_ago", note: note %>
		<% case note.action.to_sym %>
			<% when :post_comment %>
				<p><%= link_to note.message, post_path(note.item_id) %></p>
				
			<% when :article_comment %>
				<p><%= link_to note.message, article_path(note.item_id) %></p>
				
			<% when :event_comment %>
				<p><%= link_to note.message, event_path(note.item_id) %></p>
				
			<% when :banner_comment %>
				<p><%= link_to note.message, banner_path(note.item_id) %></p>
				
			<% when :translation_comment %>
				<p><%= link_to note.message, translation_path(note.item_id) %></p>
				
			<% when :activity_comment %>
				<p><%= link_to note.message, activity_path(note.item_id) %></p>
				
			<% when :comment_reply %>
				<p><%= link_to note.message, comment_path(note.item_id) %></p>
				
			<% when :like_post %>
				<p><%= link_to note.message, post_path(note.item_id) %></p>
				
			<% when :event_approved %>
				<p><%= link_to note.message, event_path(note.item_id) %></p>
				
			<% when :event_denied %>
				<p><%= link_to note.message, event_path(note.item_id) %></p>
				
			<% when :tab_approved %>
				<p><%= link_to note.message, tab_path(note.item_id) %></p>
				
			<% when :tab_denied %>
				<p><%= link_to note.message, tab_path(note.item_id) %></p>
			
			<% when :user_feedback %>
				<p><%= link_to note.message, user_path(User.find_by_id(note.item_id).name) %></p>
				
			<% when :admin_message %>
				<p><%= link_to note.message, (note.url.present? ? note.url : notes_path) %></p>
				
			<% when :you_won %>
				<p><%= link_to note.message, notes_path %></p>
				
			<% when :sales_inquiry, :sales_reply %>
				<p><%= link_to note.message, folder_path(note.item_id) %></p>
				
			<% when :sale_finalized %>
				<p><%= link_to note.message, user_path(User.find_by_id(note.sender_id).name) %></p>
				
			<% when :message %>
				<p><%= link_to note.message, folder_path(note.item_id) %></p>
				
			<% when :mention %>
				<p><%= link_to note.message, post_path(note.item_id) %></p>
				
			<% when :event_invitation %>
				<p><%= link_to note.message, event_path(note.item_id) %></p>
				
			<% when :going %>
				<p><%= link_to note.message, event_path(note.item_id) %></p>
		<% end %>
	</div>
</div>