<!-- notes -->

<div id="card">
	<% if @user %>
		<p><%= translate("Send a notification to") %><%= " " + @user.name.capitalize %></p>
	<% end %>
	
	<%= form_for @note, :html => {:multipart => true, "data-ajax" => false} do |f| %>
		<%= hidden_field_tag :user_name, (@user ? @user.name : params[:id]) %>
		<%= hidden_field_tag :note_action, :admin_message %>
		<p>
			<%= f.text_field :message, placeholder: translate("Message"), class: "form-control" %>
		</p>
		<p>
			<%= f.text_field :url, placeholder: translate("URL (optional)"), class: "form-control" %>
		</p>
		<%= f.submit translate("Submit"), class: "btn btn-default btn-lg btn-block" %>
	<% end %>
</div>