<% if current_user %>
	<% if current_user.notes.empty? %>
		<div id="card"><p align="center">You have zero notifications.</p></div>
	<% end %>

	<% @notes.each do |note| %>
		<% time_ago = time_ago_in_words(note.created_at) + " ago" %>
		<% if time_ago.include? "about" %>
			<% time_ago.slice! "about " %>
		<% end %>
		<div id="card">
			<div align="center" id="notes_card">
				<%= link_to time_ago, notes_path, id: :top_left_link %>
				<% case note.action.to_sym %>
					<% when :post_comment %>
						<p><%= link_to note.message, post_path(note.item_id) %></p>
						
					<% when :article_comment %>
						<p><%= link_to note.message, article_path(note.item_id) %></p>
						
					<% when :comment_reply %>
						<p><%= link_to note.message, comment_path(note.item_id) %></p>
						
					<% when :like_post %>
						<p><%= link_to note.message, post_path(note.item_id) %></p>
						
					<% when :event_approved %>
						<p><%= link_to note.message, event_path(note.item_id) %></p>
						
					<% when :event_denied %>
						<p><%= link_to note.message, event_path(note.item_id) %></p>
						
					<% when :tab_approved %>
						<p><%= link_to note.message, tab_path(note.item_id) %></p>
						
					<% when :tab_denied %>
						<p><%= link_to note.message, tab_path(note.item_id) %></p>
						
					<% when :admin_messsage %>
						<p><%= link_to note.message, notes_path %></p>
						
					<% when :you_won %>
						<p><%= link_to note.message, notes_path %></p>
				<% end %>
			</div>
		</div><br>
	<% end %>
<% end %>