<div id="card">
	<p><%= translate("Choose a user to notify")%></p>
	<%= form_for notes_select_path, :method => "get" do |f| %>
		<p><%= f.select :user_id, options_from_collection_for_select(@users,
			:id, :name), {}, class: "form-control" %></p>
		<%= f.submit "Submit", class: "btn btn-default btn-lg btn-block" %>
	<% end %>
</div>

<% if @note %>
	<%= render "notes/new" %>
<% end %>