<!-- comments -->

<% _time_ago = time_ago(time_ago_in_words(comment.created_at)) %>

<div id="card">
	<%= link_to _time_ago, comment_path(comment), id: :top_left_link %>
	
	<div align="center">
		<% if defined? result and result %>
			<% if comment.post_id.present? %>
				<%= link_to translate("Parent post"), post_path(comment.post_id) %>
			<% elsif comment.article_id.present? %>
				<%= link_to translate("Parent article"), article_path(comment.article_id) %>
			<% elsif comment.comment_id.present? %>
				<%= link_to translate("Parent comment"), comment_path(comment.comment_id) %>
			<% end %>
		<% end %>
	
		<div id="comment_body_text">
			<% for word in comment.body.split(" ") %>
				<% unless word.include? "#" and word.size > 1 %>
					<%= render "posts/embed", word: word %>
				<% else %>
					<% tag = comment.hashtags.find_by_tag word %>
					<% if tag.index == comment.body.index(word) %>
						<%= link_to tag.tag, tagged_path(tag.tag) %>
						<%= " " %>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
	<%= render "comments/comment_link", comment: comment %>
</div>