<!-- new comment for articles and posts and replies to comments -->

<% if current_user %>
	<%= form_for @new_comment, html: {multipart: true, "data-ajax" => false} do |f| %>

		<% if @article %>
			<%= hidden_field_tag :article_id, @article.id %>
		<% elsif @post %>
			<%= hidden_field_tag :post_id, @post.id %>
		<% elsif @comment %>
			<%= hidden_field_tag :comment_id, @comment.id %>
		<% end %>
	
		<div id="card">
			<p>
				<%= f.text_area :text, placeholder: translate("Leave a comment..."), class: "form-control" %>
			</p>
			<p>
				<%= f.submit translate("Comment"), class: "btn btn-default btn-lg btn-block" %>
			</p>
		</div>
	<% end %>
<% end %>