<!-- new comment for articles and posts and replies to comments -->

<% if current_user %>
	<%= form_for @new_comment, html: {multipart: true, "data-ajax" => false} do |f| %>

		<% if @post %>
			<%= hidden_field_tag :post_id, @post.id %>
		<% elsif @event %>
			<%= hidden_field_tag :event_id, @event.id %>
		<% elsif @banner %>
			<%= hidden_field_tag :banner_id, @banner.id %>
		<% elsif @article %>
			<%= hidden_field_tag :article_id, @article.id %>
		<% elsif @comment %>
			<%= hidden_field_tag :comment_id, @comment.id %>
		<% elsif @activity %>
			<%= hidden_field_tag :activity_id, @activity.id %>
		<% elsif @translation %>
			<%= hidden_field_tag :translation_id, @translation.id %>
		<% end %>

		<div id="card">
			<p>
				<%= f.text_area :body, placeholder: translate("Leave a comment..."), class: "form-control" %>
			</p>
			<p>
				<%= f.submit translate("Comment"), class: "btn btn-default btn-lg btn-block" %>
			</p>
		</div>
	<% end %>
<% end %>