<!-- translations -->

<div id="card">
	<%= render "translations/card_links", translation: translation %>
	
	<div align="center" id="translation_content_body">
		<p>
			<strong><%= translate("English:") %></strong> <%= translation.english %>
		</p>
		<div>
			<strong><%= translate("Spanish:") %></strong> <%= translation.spanish %>
		</div>
	</div>
</div>