<div id="card">
	<p><%= translate("Enter translations for the site") %></p>
	<%= form_for @translation do |f| %>
		<p>
			<%= f.text_field :english, placeholder: translate("English"), class: "form-control" %>
		</p>
		<p>
			<%= f.text_field :spanish, placeholder: translate("Spanish"), class: "form-control" %>
		</p>
		<p>
			<%= f.submit translate("Submit"), class: "btn btn-default btn-lg btn-block" %>
		</p>
	<% end %>
</div></br>