<!-- search -->

<% if @no_results %>
	<div id="card">
		<div align="center"><%= @no_results %></div>
	</div>
<% else %>
	<% for result in @results %>
		<% result = result[0] %>
		<% case result.class.to_s %>
			<% when "User" %>
				<%= render "users/card", user: result %>
			<% when "Post" %>
				<%= render "posts/card", post: result %>
			<% when "Article" %>
				<%= render "articles/card", article: result %>
			<% when "Comment" %>
				<%= render "comments/card", comment: result, result: true %>
			<% when "Event" %>
				<%= render "events/card", event: result %>
			<% when "Tab" %>
				<%= render "tabs/card", tab: result %>
		<% end %>
	<% end %>
<% end %>

<%= render "articles/ad_card" %>

<%= render "pages/more_back", all_items: @all_results, items: @results %>