<!-- search -->

<% if @recent_searches %>
	<% for search in @recent_searches %>
		<% result = get_result search %>
		<%= render "search/result", result: result %>
	<% end %>
<% elsif @no_results %>
	<div id="card">
		<div align="center"><%= @no_results %></div>
	</div>
<% else %>
	<% for result in @results %>
		<% result = result[0] %>
		<%= render "search/result", result: result %>
	<% end %>
<% end %>

<%= render "articles/ad_card" %>

<%= render "pages/more_back", all_items: @all_results, items: @results %>