<!-- folders -->

<% if @folder %>
	<% if @sales_post %>
		<%= render "posts/card", post: @sales_post %>
	<% end %>

	<% if @messages.size > 0 %>
		<% @messages.each do |message| %>
			<%= render "messages/card", message: message %>
		<% end %>
	<% end %>
	
	<div id="instant_messaging_anchor"></div>

	<%= render "messages/new" %>

	<% if @sales_post and @sales_post.user_id == current_user.id %>
		<div id="large_button">
			<%= link_to translate("Finalize sale"), finalize_sale_path(@sales_post, @folder),
				method: :delete, class: "btn btn-default btn-lg btn-block" %>
		</div>
	<% end %>
<% else %>
	<div id="card">
		<div align="center">
			<%= translate("This dialogue no longer exists.") %>
		</div>
	</div>
<% end %>

</br>
