<!-- articles -->

<% unless (request.host.to_s.include? "elhero.com" and (article.english_version.nil? or article.english_version.empty?)) or \
	(request.host.to_s.include? "elheroe.net" and (article.body.nil? or article.body.empty?)) %>
	<div id="card">
		<%= render "articles/time_ago", article: article %>
		<%= render "articles/written_by", article: article %>
		<%= render "articles/comment_link", article: article %>
	
		<% if current_user and current_user.admin %>
			<%= link_to translate("Edit"), edit_article_path(article), id: :bottom_left_link  %>
			<%= link_to translate("Delete"), destroy_article_path(article), method: :delete,
				data: { confirm: translate('Are you sure you want to delete this article?') }, id: :bottom_center_left_link %>
		<% end %>
	
		<%= render "articles/content", article: article %>
	</div>
<% end %>