<!-- articles -->

<div id="card">
	<%= render "articles/time_ago", article: article %>
	<%= render "articles/written_by", article: article %>
	<%= render "articles/comment_link", article: article %>

	<% if privileged? %>
		<table id="bottom_left_link_table">
			<tr>
				<td id="link_table_spacing">
					<%= link_to translate("Edit"), edit_article_path(article), title: translate("Edit this article"), id: :card_link %>
				</td>
				<td>
					<%= link_to translate("Delete"), destroy_article_path(article), id: :card_link,
						method: :delete, data: { confirm: translate('Are you sure you want to delete this article?') },
						title: translate("Permanently delete this article") %>
				</td>
			</tr>
		</table>
	<% end %>

	<%= render "articles/content", article: article %>
</div>