<article>
	<h3 align="center">
		<% if current_user and current_user.english and article.english_version %>
			<%= link_to article.english_title, article_path(article) %>
		<% else %>
			<%= link_to article.title, article_path(article) %>
		<% end %>
	</h3>

	<% if article.image.url %>
		<div align="center"><%= link_to image_tag(article.image,
			id: :standard_post_image), article_path(article) %></div></br>
	<% end %>
	
	<!-- tests size of article before applying justified style -->
	<% if article.body.size > 100 %>
		<div id="body_of_article">
	<% else %>
		<div align="center">
	<% end %>
	<% if current_user and current_user.english and article.english_version %>
		<%= article.english_version %>
	<% else %>
		<%= article.body %>
	<% end %>
	</div></br>
</article>