<!-- articles -->

<article>
	<h3 align="center">
		<%= link_to text_shown(article, :title), article_path(article) %>
	</h3>

	<% if article.image.url %>
		<div align="center"><%= link_to image_tag(article.image,
			id: :standard_post_image), article_path(article) %></div></br>
	<% end %>
	
	<!-- tests size of article before applying justified style -->
	<% if article.body.size > 100 %>
		<div id="body_of_article">
	<% else %>
		<div align="center">
	<% end %>
	
		<%= body = text_shown(article, :body) %>
		<% for word in body.split(' ') %>
			<%= render "posts/embed", word: word %>
		<% end %>

		<% article.hashtags.each do |tag| %>
			<%= link_to tag.tag, tagged_path(tag.tag) %>
			<%= " " %>
		<% end %>
	</div></br>
</article>