<!-- articles -->

<% tip = "Hi, this will be your home page for the site. It has articles and events that are close to you. Later, I'll show you how to choose a Drop " + '<i class="fa fa-tint"></i>' + " as your welcome screen." %>
<%= render "tips/card", kind: :welcome, tip: tip.html_safe, no_arrow: true, top: 75, right: 25 %>

<% if current_user %>
	<div align="center">
		<%= button_to events_path, method: :get, class: "btn btn-default btn-lg",
			 title: translate("Find upcoming events in your area") do %>
			<span class="glyphicon glyphicon-calendar"></span> <%= translate("Local Events") %>
		<% end %>
	</div></br>
<% end %>

<%= render "articles/feed" %>

<%= render "pages/more_back", all_items: Article.articles, items: @articles %>

</br>
