<%= render "new_ad" %>

<% for advert in @adverts %>
	<div id="card">
		<%= link_to "Edit", ad_edit_path(advert), id: "top_center_right_link" %>
		<%= link_to "Delete", destroy_article_path(advert), method: :delete,
			data: { confirm: "Are you sure you want to delete this ad?" }, id: "top_right_link" %>
		</br>
		<div align="center">
			<div><%= image_tag advert.image, id: :standard_post_image %></div></br>
			<div><strong>Company: </strong><%= advert.title %></div>
			<div><strong>Zip: </strong><%= advert.zip_code %></div>
			<div><strong>Views: </strong><%= advert.views ? advert.views : 0 %></div>
		</div>
	</div></br>
<% end %>