<!-- articles -->

<% if current_user and current_user.admin %>
	<%= form_for @article, html: {multipart: true, "data-ajax" => false} do |f| %>
		<div id="card">
			<p>
				<%= f.text_field :title, placeholder: translate("Title"), class: "form-control" %>
			</p>
			<p>
				<%= f.file_field :image, class: "form-control" %>
			</p>
			<p>
				<%= f.text_area :body, placeholder: translate("Body"), class: "form-control" %>
			</p>
			<p class="form-control">
				<%= f.label translate("Request translation") %>
				<%= f.check_box :translation_requested %>
			</p>
			<p>
				<%= f.submit translate("Publish"), class: "btn btn-default btn-lg btn-block" %>
			</p>
		</div>
	<% end %>

	<% for article in @articles.reverse %>
		<%= render("articles/card", article: article) unless article.ad %>
	<% end %>
<% end %>
</br>