<!-- articles -->

<% if privileged? and not @tab %>
	<div align="center">
		<%= link_to pending_articles_path, class: "btn btn-default btn-lg",
			 title: translate("Approve articles written by users") do %>
			<span class="glyphicon glyphicon-ok-sign"></span>
			<%= translate("Approve tab articles") %>
		<% end %>
	</div></br>
<% end %>

<%= render "tabs/name_header", tab: @tab if @tab %>

<% if @tab or privileged? %>
	<%= form_for @article, html: {multipart: true, "data-ajax" => false} do |f| %>
		<%= hidden_field_tag :tab_id, @tab.id if @tab %>
		<div id="card">
			<%= f.label translate("Write an article"), class: :form_label_text %>
			<p>
				<%= f.text_field :title, placeholder: translate("Title"), class: "form-control" %>
			</p>
			<p>
				<%= f.file_field :image, class: "form-control" %>
			</p>
			<p>
				<%= f.text_area :body, placeholder: translate("Body"), class: "form-control" %>
			</p>
			<p class="form-control">
				<%= f.label translate("Request translation") %>
				<%= f.check_box :translation_requested %>
			</p>
			<p>
				<%= f.submit translate("Publish"), class: "btn btn-default btn-lg btn-block" %>
			</p>
		</div>
	<% end %>
<% end %>
	
<% if privileged? and not @tab %>
	<% for article in @articles.reverse %>
		<%= render("articles/card", article: article) unless article.ad %>
	<% end %>
<% end %>

</br>