<%= form_for @article, html: {multipart: true, "data-ajax" => false} do |f| %>
	<div id="card">
		<p>
			<%= f.text_field :title, placeholder: "Title" %>
		</p>
		<p>
			<%= f.file_field :image %>
		</p>
		<p>
			<%= f.text_area :body, placeholder: "Body" %>
		</p>
		<p>
			<%= f.submit "Publish" %>
		</p>
	</div>
	</br>
<% end %>
