<% if current_user.admin %>
	<%= render 'stats' %>
	
	<div id="card">
		<%= button_to "Codes", codes_path, method: :get %>
		<%= button_to "Events", events_path, method: :get %>
		<%= button_to "Banner", banners_path, method: :get %>
		<%= button_to "Adverts", adverts_path, method: :get %>
		<%= button_to "Log out", sessions_destroy_path, method: :get,
			data: { confirm: 'Are you sure?' } %>
	</div>
<% else %>
	<p align="center">Check your privilege.</p>
<% end %>