<% if current_user and current_user.admin %>
	<div id="card">
		<div align="center"><%= translate("Welcome, Administrator") + " " + current_user.name.capitalize %></div>
	</div>
	
	<div id="card">
		<%= link_to translate("Translate"), translations_path, class: "btn btn-default btn-lg btn-block", id: "admin_button" %>
		<%= link_to translate("Adverts"), ad_index_path, class: "btn btn-default btn-lg btn-block", id: "admin_button" %>
		<%= link_to translate("Events"), pending_events_path, class: "btn btn-default btn-lg btn-block", id: "admin_button" %>
		<%= link_to translate("Banner"), banners_path, class: "btn btn-default btn-lg btn-block", id: "admin_button" %>
		<%= link_to translate("Codes"), codes_path, class: "btn btn-default btn-lg btn-block", id: "admin_button" %>
		<%= link_to translate("Notes"), notes_select_path, class: "btn btn-default btn-lg btn-block", id: "admin_button" %>
		<%= link_to translate("News"), new_article_path, class: "btn btn-default btn-lg btn-block", id: "admin_button" %>
		<%= link_to translate("Data"), activities_path, class: "btn btn-default btn-lg btn-block", id: "admin_button" %>
		<%= link_to translate("Tabs"), pending_tabs_path, class: "btn btn-default btn-lg btn-block", id: "admin_button" %>
	</div></br>
<% else %>
	<div id="card">
		<div align="center"><%= translate "Check your privilege." %></div>
	</div>
<% end %>