<% if current_user.admin %>
	<%= render 'stats' %>
	
	<div id="card">
		<%= button_to "Codes", codes_path, method: :get, class: "btn btn-default btn-lg btn-block" %></br>
		<%= button_to "Events", pending_events_path, method: :get, class: "btn btn-default btn-lg btn-block" %></br>
		<%= button_to "Banner", banners_path, method: :get, class: "btn btn-default btn-lg btn-block" %></br>
		<%= button_to "Adverts", ad_index_path, method: :get, class: "btn btn-default btn-lg btn-block" %></br>
		<%= button_to "Tabs", pending_tabs_path, method: :get, class: "btn btn-default btn-lg btn-block" %>
	</div>
<% else %>
	<p align="center">Check your privilege.</p>
<% end %>