<!-- groups -->

<% if master? %>
	<%= form_for @group do |f| %>
		<div id="card">
			<div align="center">
				<p>
					First corner: <%= @group.available_prizes("first_corner", nil, :size) %>,
					First center: <%= @group.available_prizes("first_center", nil, :size) %>,
					Four corners: <%= @group.available_prizes("four_corners", nil, :size) %>
				</p>
				
				<p>
					Line of four: <%= @group.available_prizes("line_of_four", nil, :size) %>,
					Full board: <%= @group.available_prizes("full_board", nil, :size) %>
				</p>
				
				<p>
					<%= select_tag :prize_combo_type, options_for_select([[translate("Add prizes to the group"), nil],
						[translate("First corner"), "first_corner"], [translate("First center"), "first_center"],
						[translate("Four corners"), "four_corners"], [translate("Line of four"), "line_of_four"],
						[translate("Full board"), "full_board"]]), class: "form-control" %>
				</p>
				
				<p>
					<%= text_field_tag :prize_amount, nil, placeholder: translate("Amount to add"), class: "form-control" %>
				</p>
				
				<p>
					<%= f.submit translate("Update"), class: "btn btn-default btn-lg btn-block" %>
				</p>
			</div>
		</div>
	<% end %>
<% end %>
</br>