<!-- users -->

<% if (current_user == @user or privileged?) and not (@user.master and not current_user.master) %>
	<% tooltip = (@user == current_user ? "Edit your profile and settings" : "Edit this users profile and settings") %>
	<%= link_to translate("Add features"), new_user_feature_path(@user.name), class: :bottom_left_link %>
	<%= link_to translate("Edit"), edit_user_path(@user.name), title: translate(tooltip),  class: :bottom_right_link %>
<% end %>

<% if @user.features.exists? action: :user_feedback %>
	<table class="top_right_link" title="<%= translate("This users average rating.") %>">
		<tr>
		<% 5.times do |stars| %>
			<td class=
				<% if Feedback.avg_rating(@user) > stars %>
					"glyphicon glyphicon-star"
				<% else %>
					"glyphicon glyphicon-star-empty"
				<% end %>
			</td>
		<% end %>
		</tr>
	</table>
<% end %>

<table class="top_left_link_table">
	<tr>
		<td class="link_table_spacing">
			<%= render "messages/message_button" %>
		</td>
		<% if privileged? and current_user != @user %>
			<td class="link_table_spacing">
				<%= render "notes/notify_button" %>
			</td>
		<% end %>
		<% if @user.features.exists? action: :user_feedback %>
			<td>
				<%= render "users/review_link", user: @user %>
			</td>
		<% end %>
	</tr>
</table>