<!-- users -->

<% if (current_user == @user or privileged?) and not (@user.master and not current_user.master) %>
	<% tooltip = (@user == current_user ? "Edit your profile and settings" : "Edit this users profile and settings") %>
	<%= link_to translate("Edit"), edit_user_path(@user.name), title: translate(tooltip),  class: :top_left_link %>
	<%= link_to translate("Add features"), new_user_feature_path(@user.name), class: :bottom_right_link %>
<% end %>

<%= render "notes/notify_button" %>

<table class="top_right_link_table">
	<tr>
		<% if @user != current_user and @user.features.exists? action: :user_feedback %>
			<td class="link_table_spacing">
				<%= link_to translate("Review"), new_user_feedback_path(user_id: @user.name), class: :card_link %>
			</td>
		<% end %>
		<td>
			<%= render "messages/message_button" %>
		</td>
	</tr>
</table>