<div id="card">
<%= form_for @user, url: user_path(@user), method: :patch,
	:html => {:multipart => true, "data-ajax" => false} do |f| %>
	<%= hidden_field_tag id: @user.id %>
	<p>
		<%= f.file_field :icon %>
	</p>
	<p>
		<%= f.text_field :name, placeholder: "Name" %>
	</p>
	<p>
		<%= f.text_field :email, placeholder: "Email" %>
	</p>
	<p>
		<%= f.text_area :bio, placeholder: "Bio" %>
	</p>
	<p>
		<%= f.text_field :zip_code, placeholder: "Zip" %>
	</p>
	<p>
		<%= f.submit "Update" %>
	</p>
<% end %>
</div>