<div id="card">
<%= form_for @user, url: user_path(@user), method: :patch,
	:html => {:multipart => true, "data-ajax" => false} do |f| %>
	<%= hidden_field_tag id: @user.id %>
	<p>
		<%= f.file_field :icon, class: "form-control" %>
	</p>
	<p>
		<%= f.text_field :name, placeholder: translate("Name"), class: "form-control" %>
	</p>
	<p>
		<%= f.text_field :email, placeholder: translate("Email"), class: "form-control" %>
	</p>
	<p>
		<%= f.text_area :bio, placeholder: translate("Bio"), class: "form-control" %>
	</p>
	<p>
		<%= f.text_field :zip_code, placeholder: translate("Zip"), class: "form-control" %>
	</p>
	<p>
		<%= f.select :network_size, options_for_select([[translate("Network Size"), @user.network_size],
			[translate("Small"), 20], [translate("Medium"), 50], [translate("Large"), 100],
			[translate("Extra Large"), 250]]), {}, class: "form-control" %>
	</p>
	<p>
		<%= f.select :english, options_for_select([[translate("Language"), @user.english],
			[translate("Spanish"), false], [translate("English"), true]]), {}, class: "form-control" %>
	</p>
	<% if current_user.admin %>
		<p class="form-control">
			<%= f.label translate("Business account") %>
			<%= f.check_box :business %>
		</p>
	<% end %>
	<p>
		<%= f.submit translate("Update"), class: "btn btn-default btn-lg btn-block" %>
	</p>
<% end %>
</div>