<!-- users -->

<%= render "users/name_header", user: @user, item: "Gallery" %>

<div class="container-fluid" align="center">
	<% interval = 0 %>
	<% columns = 4 %>
	<% for image in @images %>
		<% if interval == 0 %>
		<div class="row">
			<div class="col-xs-3">
				<%= gallery_image(image) %>
			</div>
		<% elsif interval < columns %>
			<div class="col-xs-3">
				<%= gallery_image(image) %>
			</div>
		<% elsif interval % columns == 0 %>
		</div>
		<div class="row">
			<div class="col-xs-3">
				<%= gallery_image(image) %>
			</div>
		<% elsif interval > columns %>
			<div class="col-xs-3">
				<%= gallery_image(image) %>
			</div>
		<% end %>
		<% interval += 1 %>
	<% end %>
</div></div>

<%= render "pages/more_back", all_items: @user.images, items: @images %>

</br>