<div id="card">
	<div align="center">
		<% if @user.icon.url %>
			</br><div><%= image_tag @user.icon, id: :user_profile_icon %></div>
		<% end %>
		
		<h3><%= @user.name.capitalize %></h3>
		<p><%= @user.bio %></p>
	</div>
	
	<%= render "users/card_links" if current_user %>
</div>

<%= render "users/wall" %>

</br>