<%= render "game_boards/new" %>

<% @game_boards.each do |board| %>
	<div id="card">
		<% if board.cards.size < 1 %>
			<p align="center"> <%= translate "You have no cards on this board" %></p>
		<% end %>
		
		<%= render "game_boards/grid", cards: board.cards %></br>
		<%= button_to translate("Show"), user_game_board_path(current_user, board),
			method: :get, class: "btn btn-default btn-lg btn-block" %>
	</div>
<% end %>

<% if @game_boards.empty? %>
	<div id="card">
		<div align="center">
			<%= translate("You don't have any boards yet.") %>
		</div>
	</div>
<% end %>

<%= render "articles/ad_card" %>

</br>