<div id="card">
	<% if @cards.size < 1 %>
		<p align="center"><%= translate("You have no cards on this board.") %></p>
	<% end %>
	
	<%= render "game_boards/grid", cards: @cards %>
	</br>
	<div align="center">
		<div class="btn-group">
			<%= link_to reset_path(@game_board), class: "btn btn-default",
				data: { confirm: translate("Are you sure you want to reset the board?") } do %>
					<%= translate("Reset") %>
			<% end %>
			<%= link_to destroy_board_path(@game_board), class: "btn btn-default",
				method: :delete, data: { confirm: translate("Are you sure you want to delete the board?") } do %>
					<%= translate("Delete") %>
			<% end %>
		</div>
	</div>
</div>
</br>

<%= render 'cards/new' %>