<div id="nav" data-role="header">
	<table align="center">
		<tr>
			<td>
				<%= button_to "Home", root_path, method: :get %>
			</td>
			<% unless current_user %>
				<td>
					<%= link_to "Sign up", new_user_path %> or
					<%= link_to "Log in", root_url %>
				</td>
			<% else %>
				<td>
					<%= button_to "News", articles_path, method: :get %>
				</td>
				<td>
					<%= button_to "Social", articles_path, method: :get %>
				</td>
			<% end %>
		</tr>
	</table>
	<% if current_user %>
		<div id="top_right">
			<%= link_to("Admin", admin_path) if current_user.admin %>
			<%= link_to("Log out", sessions_destroy_path) unless current_user.admin %>
		</div>
	<% end %>
</div>