<!-- welcome -->

<% tip6 = '<p>' +
			translate("Now that you've become more familiar with the site, feel free to end the tour by clicking this tip.") +
		'</p>' + translate("You can restart the tour at any time by visiting your account settings.") %>
<%= render "tips/card", kind: :skip_tour_tip, tip: tip6.html_safe, no_arrow: true, top: 265, right: 25 %>

<% tip5 = "Games: Click here for the funnest way to win prizes from me and businesses in your area." %>
<%= render "tips/card", kind: :games_button_tip, tip: tip5, triggered: true, top: 70, left: 175 %>

<% tip4 = "Notes: Alerts on comments, invitations, sales inquiries, and much more." %>
<%= render "tips/card", kind: :notes_button_tip, tip: tip4, triggered: true, top: 70, left: 250 %>

<% tip3 = "User Profile button: Manage your network size, language, and personal account settings." %>
<%= render "tips/card", kind: :user_profile_button_tip, tip: tip3, triggered: true, top: 70, right: 200 %>

<% tip2 = "This is the home button and will bring you back here from anywhere on the site." %>
<%= render "tips/card", kind: :elheroe_button_tip, tip: tip2, triggered: true, top: 70, left: 35 %>

<% tip1 = translate("Welcome to El Heroe, this will be your home page for the site. It has articles and events that are close to you. Later, I'll show you how to choose a Drop") + " " + '<i class="fa fa-tint"></i>' + " " + translate("as your welcome screen.") %>
<%= render "tips/card", kind: :welcome_tip, tip: tip1.html_safe, no_arrow: true, top: 75, right: 25 %>