<!-- events -->

<div align="center">
	<h3 id="title_of_event">
		<%= link_to text_shown(event, :title), event_path(event) %>
	</h3>

	<% if event.image.url %>
		<div>
			<%= link_to image_tag(event.image,
				id: :event_content_image), event_path(event) %>
		</div>
	<% end %>

	<p id="event_content_text">
		<% body = text_shown(event, :body) %>
		<% if body.present? %>
			<% for word in body.split(' ') %>
				<% unless word.include? "#" and word.size > 1 %>
					<%= render "posts/embed", word: word %>
				<% else %>
					<% tag = event.hashtags.find_by_tag word %>
					<% if tag and tag.index and tag.index == body.index(word) %>
						<%= link_to tag.tag, tagged_path(tag.tag) %>
						<%= " " %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</p>
	
	<div><strong>When: </strong><%= event.date %></div>
	<% if event.location.present? %>
		<div><strong>Where: </strong><%= event.location %></div></br>
	<% end %>
</div>
