<!-- events -->

<div align="center">
	<h3><%= text_shown(event, :title) %></h3>

	<% if event.image.url %>
		<div><%= image_tag event.image %></div></br>
	<% end %>

	<div><%= text_shown(event, :body) %></div></br>
	<div><strong>When: </strong><%= event.date %></div></br>
	<div><strong>Where: </strong><%= event.location %></div></br>
</div>