<div align="center">
	<%= link_to new_event_path, class: "btn btn-default btn-lg" do %>
		<span class="glyphicon glyphicon-calendar"></span> <%= translate("Plan an event") %>
	<% end %>
</div></br>

<% for event in @events %>
	<% unless event.translation_requested %>
		<div id="card">
			<%= render "events/content", event: event %>
			<%= render "events/approve_deny", event: event %>
		</div>
	<% end %>
<% end %>

<% if @events.empty? %>
	<div id="card">
		<div align="center">
			<%= translate("There aren't any upcoming events right now.") %>
		</div>
	</div>
<% end %>