<!-- events -->

<%= render "tabs/name_header", tab: @tab if @tab %>

<%= form_for @event do |f| %>
	<%= hidden_field_tag :tab_id, @tab.id if @tab %>
	<div id="card">
		<%= f.label translate("Plan an event"), class: :form_label_text %>
		<p>
			<%= f.text_field :title, placeholder: translate("Title"), class: "form-control" %>
		</p>
		<p>
			<%= f.text_area :body, placeholder: translate("Description"), class: "form-control" %>
		</p>
		<p>
			<%= f.file_field :image, class: "form-control" %>
		</p>
		<p>
			<%= f.text_field :location, placeholder: translate("Location"), class: "form-control" %>
		</p>
		<% if @tab and @tab.features.exists? action: :invite_attendance %>
			<p>
				<%= text_field_tag :invited_users, nil,
					placeholder: translate("List users to invite, separate by comma"),
					class: "form-control" %>
			</p>
		<% end %>
		<p class="form-control">
			<%= f.label translate("Date") %>
			<%= f.date_select :date, use_month_numbers: true, class: "form-control" %>
		</p>
		<p class="form-control">
			<%= f.label translate("Request translation") %>
			<%= f.check_box :translation_requested %>
		</p>
		<p>
			<%= f.submit translate("Submit"), class: "btn btn-default btn-lg btn-block" %>
		</p>
	</div>
<% end %>