<div id="card">
<%= form_for @event do |f| %>
	<p>
		<%= f.text_field :title, placeholder: translate("Title"), class: "form-control" %>
	</p>
	<p>
		<%= f.text_area :body, placeholder: translate("Description"), class: "form-control" %>
	</p>
	<p>
		<%= f.file_field :image, class: "form-control" %>
	</p>
	<p>
		<%= f.text_field :location, placeholder: translate("Location"), class: "form-control" %>
	</p>
	<p>
		<%= f.date_select :date, {}, class: "form-control" %>
	</p>
	<p>
		<%= f.submit translate("Submit"), class: "btn btn-default btn-lg btn-block" %>
	</p>
<% end %>
</div>