<div id="card">
<p align="center"><%= translate("Register codes") %></p>
<%= form_for @code, :html => {:multipart => true, "data-ajax" => false} do |f| %>
	<p>
		<%= f.text_field :code, placeholder: translate("Code"), class: "form-control" %>
	</p>
	<p>
		<%= f.select :is_a_board, options_for_select([[translate("Card or Board"), nil],[translate("Card"), false],
			[translate("Board"), true]]), {}, class: "form-control" %>
	</p>
	<p>
		<%= f.select :board_number, options_for_select([[translate("Board number"), nil], 1, 2, 3, 4]), {}, class: "form-control" %>
	</p>
	<p>
		<% options = [[translate("Choose a card"), nil]] %>
		<% Card.unique_names.each { |name| options << [translate(name.capitalize), name] } %>
		<%= f.select :card_name, options_for_select(options), {}, class: "form-control" %>
	</p>
	<p>
		<% options = [[translate("Assign to group"), nil]] %>
		<% Group.all.each { |group| options << [translate("Group ") + (group.default ? translate("Default") : group.id.to_s), group.id] } %>
		<%= f.select :group_id, options_for_select(options), {}, class: "form-control" %>
	</p>
	<p>
		<%= f.text_field :advertiser, placeholder: translate("Advertiser"), class: "form-control" %>
	</p>
	<p>
		<%= f.submit translate("Create"), class: "btn btn-default btn-lg btn-block" %>
	</p>
<% end %>
</div>