<% if master? %>
<div id="card">
	<div align="center">
		<p><%= link_to translate("Total codes:") + " " + Code.all.size.to_s, codes_code_data_path %></p>
			
		<p><%= link_to translate("Redeemed codes:") + " " + @redeemed.size.to_s,
			codes_code_data_path(code_redeemed: true) %></p>
			
		<p><%= link_to translate("Unredeemed codes:") + " " + @unredeemed.size.to_s,
			codes_code_data_path(code_unredeemed: true) %></p>
			
		<p><%= link_to translate("Boards redeemed:") + " " + GameBoard.all.size.to_s,
			codes_code_data_path(code_game_boards: true) %></p>
			
		<div><%= link_to translate("Cards redeemed:") + " " + Card.where(redeemed: true).size.to_s,
			codes_code_data_path(code_cards: true) %></div>
			
	</div>
</div>
<% end %>

<% for code in @codes %>
	<%= render "codes/card", code: code %>
<% end %>

<%= render "pages/more_back", all_items: @all_codes, items: @codes %>