<div id="card">
<p align="center">Update codes</p>
<%= form_for @code, :html => {:multipart => true, "data-ajax" => false} do |f| %>
	<%= hidden_field_tag id: @code.id %>
	<p>
		<%= f.text_field :code, placeholder: "Code" %>
	</p>
	<p>
		<%= f.text_field :advertiser, placeholder: "Advertiser" %>
	</p>
	<p>
		<%= f.select :is_a_board, [["Card or Board", nil], ["Card", false], ["Board", true]] %>
	</p>
	<p>
		<%= f.select :board_number, [["Board number", nil], 1, 2, 3, 4] %>
	</p>
	<p>
		<%= f.select :board_loc, [["Pos. on board", nil], 1, 2, 3, 4, 5,
			6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16 ] %>
	</p>
	<p>
		<%= f.text_field :title, placeholder: "Title" %>
	</p>
	<p>
		<%= f.file_field :image %>
	</p>
	<p>
		<%= f.submit "Update" %>
	</p>
<% end %>
</div>