<%= render "new" %>

<% unless @codes.empty? %>
<div id="card">
	<%= button_to "Clear all codes", clear_path, method: :delete,
		data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-lg btn-block" %></br>
	<% for code in @codes %>
		<div align="center">
			<strong><%= "#{code.code}: " %></strong>
			<%= "Card #{code.board_loc} on Board #{code.board_number}" unless code.is_a_board %>
			<%= "Board #{code.board_number}" if code.is_a_board %>
			<div>
			<!-- code controls for manipulating codes -->
			<%= link_to "Edit", edit_code_path(code) %>
			<%= link_to "Delete", destroy_code_path(code), method: :delete,
				data: { confirm: 'Are you sure?' } %>
			</div>
		</div><hr id="gray_horizon">
	<% end %>
</div></br>
<% end %>