<!-- polls -->

<div id="card">
	<h4 align="center">
		<%= link_to poll.question, poll_path(poll) %>
	</h4>
	<div align="center">
		<% if poll.image.url %>
			<p>
				<%= image_tag poll.image, id: :standard_post_image %>
			</p>
		<% end %>
		
		<table id="choices_listing">
			<% for choice in choices %>
				<tr id="choice_listing_row">
					<td>
						<span class="badge">
							<%= choice.score %>
						</span>
					</td>
					<td class="table_spacing_poll_text">
						<%= choice.text %>
					</td>
					<td>
						<%= link_to up_vote_choice_path(poll.id, choice.id), method: :post do %>
							<i class="fa fa-thumbs-<%= "o-" unless up_voted? choice %>up fa-lg up_vote_color"></i>
						<% end %>
					</td>
					<td>
						<%= link_to down_vote_choice_path(poll.id, choice.id), method: :post do %>
							<i class="fa fa-thumbs-<%= "o-" unless down_voted? choice %>down fa-lg down_vote_color"></i>
						<% end %>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
</div>