<!-- tabs -->

<div id="card">
	<span id="cherry_pick_link">
	<%= render "features/cherry_pick_link", tab: tab %>
	</span>
	<span id="un_cherry_pick_link">
		<%= render "features/un_cherry_pick_link", tab: tab %>
	</span>
	<div align="center">
		<div>
			<%= link_to tab_path(tab) do %>
				<% if tab.icon.present? %>
					<%= image_tag(tab.icon, size: "50x50", id: :tab_icon) %>
				<% else %>
					<span class="fa fa-tint fa-4x"></span>
				<% end %>
			<% end %>
		</div>
		
		<div>
			<%= link_to text_shown(tab, :name), tab_path(tab) %>
		</div>
		
		<% if privileged? and tab.approved.nil? %>
			<% if tab.sponsored and tab.company %>
				<p>
					<%= User.find(tab.user_id).name.capitalize +
						" requested verification of their company, " + tab.company %>
				</p>
			<% end %>
			<%= render "tabs/approve_deny", tab: tab %>
		<% end %>
	</div>
</div>
