<!-- tabs -->

<div id="card">
	<% if current_user %>
		<% unless tab.cherry_picked? current_user %>
			<div class="top_right_link">
				<%= link_to cherry_pick_path(tab), class: "btn btn-default",
					title: translate("Always show this tab regardless of locale") do %>
					<span class="glyphicon glyphicon-plus"></span>
				<% end %>
			</div>
		<% else %>
			<div class="top_right_link">
				<%= link_to un_cherry_pick_path(tab), class: "btn btn-default",
					title: translate("Stop showing this tab regardless of locale") do %>
					<span class="glyphicon glyphicon-minus"></span>
				<% end %>
			</div>
		<% end %>
	<% end %>
	<div align="center">
		<div>
			<%= link_to image_tag(tab.icon, size: "50x50", id: :tab_icon), tab_path(tab) %>
		</div>
		
		<div>
			<%= link_to text_shown(tab, :name), tab_path(tab) %>
		</div>
		
		<% if privileged? and tab.approved.nil? %>
			<% if tab.sponsored and tab.company %>
				<p>
					<%= User.find(tab.user_id).name.capitalize +
						" requested verification of their company, " + tab.company %>
				</p>
			<% end %>
			<%= render "tabs/approve_deny", tab: tab %>
		<% end %>
	</div>
</div>