<!-- tabs -->

<% pos_on_page = 0 %>
<% ad_pos = Random.new.rand @posts.size if @posts.present? %>

<% for item in @items %>
	<% case item.class.to_s %>
		<% when "Post" %>
			<% if not current_user or current_user.close_enough(item) or @tab.features.exists? "global" %>
				<%= render "posts/card", post: item, list_format: @tab.list_format? %>
			<% end %>
			<%= render "articles/ad_card" if ad_pos == pos_on_page %>
			<% pos_on_page += 1 %>
		<% when "Article" %>
			<%= render "articles/card", article: item, list_format: @tab.list_format? %>
		<% when "Comment" %>
			<%= render "comments/card", comment: item, list_format: @tab.list_format? %>
		<% when "Event" %>
			<%= render "events/card", event: item, list_format: @tab.list_format? %>
	<% end %>
<% end %>

<% unless @items.size < page_size %>
	<div id="more_content_anchor"></div>
<% end %>