<!-- tabs -->

<%= form_for @tab, html: {multipart: true, "data-ajax" => false} do |f| %>
	<div id="card">
		<p>
			<%= f.label translate("Choose an icon for the tab") %>
			<%= f.file_field :icon, class: "form-control" %>
		</p>
		<p>
			<%= f.text_field :name, placeholder: translate("Name"), class: "form-control" %>
		</p>
		<p>
			<%= f.text_area :description, placeholder: translate("Description"), class: "form-control" %>
		</p>
		<p>
			<%= f.text_field :company, placeholder: translate("Company"), class: "form-control" %>
		</p>
		<p>
			<%= f.text_field :zip_code, placeholder: translate("Zip code"), class: "form-control" %>
		</p>
		<% if @tab.features.exists? action: :tagged %>
			<p>
				<% placeholder = translate("Add hashtags (separate by comma ', ')") %>
				<%= text_field_tag :hashtags, nil, placeholder: placeholder, class: "form-control" %>
			</p>
		<% end %>
		<% if current_user.admin or current_user.business %>
			<p class="form-control">
				<%= f.label translate("Request verification of business") %>
				<%= f.check_box :sponsored %>
			</p>
			<p class="form-control">
				<%= f.label translate("Make this tab sponsored only") %>
				<%= f.check_box :sponsored_only %>
			</p>
		<% end %>
		<p>
			<%= f.submit translate("Update"), class: "btn btn-default btn-lg btn-block" %>
		</p>
	</div>
<% end %>

<% if has_feature? :custom_loading %>
	<%= render "loading_gifs/new" %>
<% end %>

<% if privileged? %>
	<div id="error_card">
		<%= form_for @tab, url: destroy_tab_path(@tab), method: :delete do |f| %>
			<%= hidden_field_tag id: @tab.id %>
			<p align="center">
				<%= translate "Deleting this Drop will permanently destroy some of its data." %>
			</p>
			<%= f.submit translate("Delete"), data: {
				confirm: translate('Are you sure you want to delete this Drop?') },
				class: "btn btn-default btn-lg btn-block" %>
		<% end %>
	</div>
<% end %>

<div id="footer_spacing"></div>