<!-- tabs -->

<div align="center">
	<div class="btn-group">
		<% local_or_global = (params[:scope] == "local" or params[:scope].nil?) ? :global : :local %>
		<% local_or_global_string = (local_or_global.eql? :global) ? "Global drops" : "Local drops" %>
		<%= link_to tabs_path(scope: local_or_global), class: "btn btn-default btn-lg",
			title: translate("Show drops nearby or faraway") do %>
			<%= translate local_or_global_string %> 
			<% unless local_or_global == :local %>
				<span class="fa fa-globe"></span>
			<% else %>
				<span class="fa fa-home"></span>
			<% end %>
		<% end %>
		<%= link_to new_tab_path, class: "btn btn-default btn-lg",
			title: translate("Create a drop in the social media landscape") do %>
			<%= translate "Create a drop" %> <span class="fa fa-tint"></span>
		<% end %>
	</div>
</div></br>

<% if @tabs.present? %>
	<%= render "tabs/grid", tabs: @tabs %>
<% end %>

</br>