<!-- tabs -->

<%= render "tips/card", kind: :tab_description_tip, tip: tip_defs[:tab_description_tip],
	no_arrow: true, triggered: true, top: 75, right: 25 %>

<div align="center">
	<div class="btn-group">
		<% local_or_global = (params[:scope] == "local" or params[:scope].nil?) ? :global : :local %>
		<% local_or_global_string = (local_or_global.eql? :global) ? "Global Drops" : "Local Drops" %>
		<%= link_to tabs_path(scope: local_or_global), class: "btn btn-default btn-lg",
			title: translate("Show Drops nearby or faraway") do %>
			<%= translate local_or_global_string %>
			<% unless local_or_global == :local %>
				<span class="fa fa-globe"></span>
			<% else %>
				<span class="fa fa-home"></span>
			<% end %>
		<% end %>
		<%= link_to new_tab_path, class: "btn btn-default btn-lg",
			title: translate("Create a Drop in the social media landscape") do %>
			<%= translate "Create a Drop" %> <span class="fa fa-tint"></span>
		<% end %>
		
		<%= render "tips/card", kind: :create_tab_tip,
			tip: tip_defs[:create_tab_tip], triggered: true, top: 65, right: 5 %>
		<%= render "tips/card", kind: :global_tabs_button_tip,
			tip: tip_defs[:global_tabs_button_tip], top: 65, left: 5 %>
	</div>
</div><br>

<% if @tabs.present? %>
	<%= render "tabs/grid", tabs: @tabs %>
<% end %>

</br>
