<!-- tabs -->

<div align="center">
	<%= link_to new_tab_path, class: "btn btn-default btn-lg" do %>
		<%= translate "Create a tab" %> <span class="glyphicon glyphicon-plus-sign"></span>
	<% end %>
</div></br>

<div align="center">
	<% local_or_global = (params[:scope] == "local" or params[:scope].nil?) ? :global : :local %>
	<%= link_to tabs_path(scope: local_or_global), class: "btn btn-default btn-lg" do %>
		<%= translate local_or_global.to_s.capitalize %>
	<% end %>
</div></br>

<% if @tabs.present? %>
	<%= render "tabs/grid", tabs: @tabs %>
<% end %>

</br>