<!-- tabs -->

<%= form_for @tab, html: {multipart: true, "data-ajax" => false} do |f| %>
	<div id="card">
		<p>
			<%= f.label translate("Choose an icon for the tab") %>
			<%= f.file_field :icon, class: "form-control" %>
		</p>
		<p>
			<%= f.text_field :name, placeholder: translate("Name"), class: "form-control" %>
		</p>
		<p>
			<%= f.text_area :description, placeholder: translate("Description"), class: "form-control" %>
		</p>
		<p>
			<%= f.text_field :company, placeholder: translate("Company"), class: "form-control" %>
		</p>
		<% if current_user.admin or current_user.business %>
			<p class="form-control">
				<%= f.label translate("Request verification of business") %>
				<%= f.check_box :sponsored %>
			</p>
			<p class="form-control">
				<%= f.label translate("Make this tab sponsored only") %>
				<%= f.check_box :sponsored_only %>
			</p>
		<% end %>
		<p>
			<%= f.submit translate("Submit"), class: "btn btn-default btn-lg btn-block" %>
		</p>
	</div>
	</br>
<% end %>
