<!-- tabs -->

<%= form_for @tab, html: {multipart: true, "data-ajax" => false} do |f| %>
	<div id="card">
		<p>
			<%= f.label translate("Choose an icon for the Drop") %>
			<%= f.file_field :icon, class: "form-control" %>
		</p>
		<p>
			<%= f.text_field :name, placeholder: translate("Name"), class: "form-control" %>
		</p>
		<p>
			<%= f.text_area :description, placeholder: translate("Description"), class: "form-control" %>
		</p>
		<p>
			<%= f.text_field :company, placeholder: translate("Company"), class: "form-control" %>
		</p>
		<p class="form-control">
			<%= f.label translate("Request translation") %>
			<%= f.check_box :translation_requested %>
		<% if current_user.admin or current_user.business %>
			<p class="form-control">
				<%= f.label translate("Make this Drop sponsored only") %>
				<%= f.check_box :sponsored_only %>
			</p>
			<p class="form-control">
				<%= f.label translate("Request verification of business") %>
				<%= f.check_box :sponsored %>
			</p>
		<% end %>
		</p>
		<p>
			<%= f.submit translate("Submit"), class: "btn btn-default btn-lg btn-block" %>
		</p>
	</div>
	

	<div align="center">
		<div class="container-fluid">
			<% interval = 0 %>
			<% col_size = 2 %>
			<% tab_feature_defs.each do |key, value| %>
				<% if interval == 0 %>
					<div class="row">
						<div class="col-md-<%= col_size %>">
							<%= render "features/pre_feature_card",
								key: key, value: value %>
						</div>
				<% elsif interval < 3 %>
					<div class="col-md-<%= col_size %>">
						<%= render "features/pre_feature_card",
							key: key, value: value %>
					</div>
				<% elsif interval % 3 == 0 %>
				</div>
				<div class="row">
					<div class="col-md-<%= col_size %>">
						<%= render "features/pre_feature_card",
							key: key, value: value %>
					</div>
				<% elsif interval > 3 %>
					<div class="col-md-<%= col_size %>">
						<%= render "features/pre_feature_card",
							key: key, value: value %>
					</div>
				<% end %>
				<% interval += 1 %>
			<% end %>
		</div>
	</div>
<% end %>

