<!-- tabs -->

<div id="card"></br>
	<%= render "tabs/buttons" %>
	<div align="center">
		<%= image_tag @tab.icon, id: :tab_profile_icon %>
		<h3 id="tab_profile_name">
			<%= text_shown(@tab, :name) %>
		</h3>
	</div>
	<%= render "tabs/pop_tabs" %>
</div>

<% if (has_feature? :invite_only and invited?) or not has_feature? :invite_only or privileged? %>
	<% if @tab.approved and ((@tab.sponsored_only and current_user.business) or !@tab.sponsored_only) %>
		<%= render "posts/new" %>
	<% end %>
	
	<%= render "tabs/feed" %>
	<%= render "loading_gifs/loading_footer", items: @items, all_items: @all_items %>
<% else %>
	<div id="card">
		<div align="center">
			<%= translate("This tab is invite only. Click the request button above if you'd like to join.") %>
		</div>
	</div>
<% end %>
