<!-- tabs -->

<div id="card"></br>
	<%= render "tabs/buttons" %>
	<div align="center">
		</br><%= image_tag @tab.icon, size: "200x200" %>
		<h3>
			<%= text_shown(@tab, :name) %>
		</h3>
	</div>
	<%= render "tabs/pop_tabs" %>
</div>
<% if @tab.approved and ((@tab.sponsored_only and current_user.business) or !@tab.sponsored_only) %>
	<%= render "posts/new" %>
<% end %>

<%= render "tabs/feed" %>

<div id="more_content_anchor"></div>

<%= render "pages/more_back", all_items: @all_items, items: @items %>

</br>