<div id="card">
<%= form_for @advert, html: {multipart: true, "data-ajax" => false} do |f| %>
	<p>
		<%= f.file_field :image %>
	</p>
	<p>
		<%= f.text_field :advertiser, placeholder: "Advertiser" %>
	</p>
	<p>
		<%= f.text_field :zip_code, placeholder: "Zip code" %>
	</p>
	<p>
		<%= f.submit "Upload" %>
	</p>
<% end %>
</div></br>