<!-- subtabs -->

<div id="card">
	<% if current_user %>
		<% unless subtab.cherry_picked? current_user %>
			<div class="top_right_link">
				<%= link_to cherry_pick_path(subtab_id: subtab.id), class: "btn btn-default",
					title: translate("Always show this subtab regardless of locale") do %>
					<span class="glyphicon glyphicon-plus"></span>
				<% end %>
			</div>
		<% else %>
			<div class="top_right_link">
				<%= link_to un_cherry_pick_path(subtab_id: subtab.id), class: "btn btn-default",
					title: translate("Stop showing this subtab regardless of locale") do %>
					<span class="glyphicon glyphicon-minus"></span>
				<% end %>
			</div>
		<% end %>
	<% end %>
	<div align="center">
		<div>
			<%= link_to image_tag(subtab.icon, size: "50x50", id: :tab_icon), tab_subtab_path(subtab.tab_id, subtab) %>
		</div>
		
		<div>
			<%= link_to text_shown(subtab, :name), tab_subtab_path(subtab.tab_id, subtab) %>
		</div>
		
		<% if current_user.admin and subtab.approved.nil? %>
			</br><%= render "subtabs/approve_deny", subtab: subtab %>
		<% end %>
	</div>
</div>