<!-- subtabs -->

<%= form_for @subtab, html: {multipart: true, "data-ajax" => false} do |f| %>
	<%= hidden_field_tag :tab_id, params[:tab_id] %>
	<div id="card">
		<p>
			<%= f.label translate("Choose an icon for the subtab") %>
			<%= f.file_field :icon, class: "form-control" %>
		</p>
		<p>
			<%= f.text_field :name, placeholder: translate("Name"), class: "form-control" %>
		</p>
		<p>
			<%= f.text_field :english_name, placeholder: translate("English name (optional)"), class: "form-control" %>
		</p>
		<p>
			<%= f.text_area :description, placeholder: translate("Description"), class: "form-control" %>
		</p>
		<p>
			<%= f.submit translate("Create"), class: "btn btn-default btn-lg btn-block" %>
		</p>
	</div>
	</br>
<% end %>
