<!-- subtabs -->

<div id="card"></br>
	<%= render "subtabs/buttons" %>
	<div align="center">
		<%= image_tag @subtab.icon, size: "200x200" %>
		<h3>
			<%= text_shown(@subtab, :name) %>
		</h3>
	</div>
</div>

<% if @subtab.approved and ((@subtab.sponsored_only and current_user.business) or !@subtab.sponsored_only) %>
	<%= render "posts/new" %>
<% end %>

<%= render "tabs/feed" %>
	
<%= render "loading_gifs/loading_footer", items: @items, all_items: @all_items %>