<% time_ago = time_ago_in_words(post.created_at) + " ago" %>

<% if time_ago.include? "about" %>
	<% time_ago.slice! "about " %>
<% end %>

<div id="card">
	<%= link_to time_ago, post_path(post), id: :top_left_link %>
	
	<%= render "posts/posted_by", post: post %>
	<%= render "posts/vote", post: post %>
	
	<%= render "posts/content", post: post %>
	
	<% if defined? post_type and post_type == :question %>
		<%= render "posts/answer_link", post: post %>
	<% else %>
		<%= render "posts/comment_link", post: post %>
	<% end %>
</div></br>