<!-- posts -->

<div id="card">
	<%= render "posts/time_ago", post: post %>
	<%= render "posts/posted_by", post: post %>
	<%= render "posts/comment_link", post: post %>
	<%= render "posts/vote", post: post %>
	
	<%= render "posts/content", post: post %>
</div>