<!-- posts -->

<div id="card">
	<%= render "posts/time_ago", post: post %>
	<%= render "posts/posted_by", post: post %>
	<%= render "posts/comment_link", post: post %>
	<%= render "folders/inquire", post: post %>
	<%= render "posts/vote", post: post %>
	
	<% if privileged? %>
		<%= link_to "Edit", edit_post_path(post), id: :bottom_center_left_link %>
		<%= link_to "Delete", destroy_post_path(post), method: :delete, data: {
			confirm: translate('Are you sure you want to delete this post?') },
			id: :bottom_center_center_left_link %>
	<% end %>

	<%= render "posts/content", post: post %>
</div>