<div id="card">
	<% unless @tab %>
		<div align="center">
			<div class="btn-group">
				<%= link_to "Jokes", jokes_path, class: "btn btn-default" %>
				<%= link_to "Questions", questions_path, class: "btn btn-default" %>
				<%= link_to "More", tabs_path, class: "btn btn-default" %>
			</div>
		</div></br>
	<% end %>
	
	<%= form_for @post, html: {multipart: true, "data-ajax" => false} do |f| %>
		<% if @tab %>
			<%= hidden_field_tag :tab_id, params[:id] %>
		<% end %>
		
		<% if defined? post_type %>
			<% if post_type == :joke %>
				<%= hidden_field_tag :joke, true %>
				<% placeholder = "Tell a joke..." %>
				<% submit_text = "Post" %>
			<% elsif post_type == :question %>
				<%= hidden_field_tag :question, true %>
				<% placeholder = "Ask a question..." %>
				<% submit_text = "Ask" %>
			<% elsif post_type == :art %>
				<%= hidden_field_tag :art, true %>
				<% placeholder = "Share some art..." %>
				<% submit_text = "Post" %>
			<% end %>
		<% else %>
			<% placeholder = "Start a thread..." %>
			<% submit_text = "Post" %>
		<% end %>
		
		<p>
			<%= f.text_area :body, placeholder: placeholder, class: "form-control" %>
		</p>
		
		<% if @tab or (defined? post_type and post_type == :art) %>
			<p>
				<%= f.file_field :image, class: "form-control" %>
			</p>
		<% end %>
		
		<p>
			<%= f.submit submit_text, class: "btn btn-default btn-lg btn-block" %>
		</p>
	<% end %>
</div></br>