<!-- posts -->

<div id="card">
	<div align="center">
		<div class="btn-group">
			<% unless @tab %>
				<% for tab in Tab.most_popular %>
					<%= link_to tab.name, tab_path(tab), class: "btn btn-default" %>
				<% end %>
				<%= link_to translate("More"), tabs_path, class: "btn btn-default" %>
			<% else %>
				<% for subtab in @subtabs %>
					<% if subtab %>
						<%= link_to subtab.name, tab_subtab_path(@tab, subtab), class: "btn btn-default" %>
					<% end %>
				<% end %>
				<%= link_to translate("More"), tab_subtabs_path(@tab), class: "btn btn-default" %>
			<% end %>
		</div>
	</div></br>
	
	<%= form_for @post, html: {multipart: true, "data-ajax" => false} do |f| %>
		<% if @tab %>
			<%= hidden_field_tag :tab_id, params[:id] %>
		<% elsif @subtab %>
			<%= hidden_field_tag :subtab_id, params[:id] %>
		<% end %>
		
		<% if defined? post_type %>
			<% if post_type == :joke %>
				<%= hidden_field_tag :joke, true %>
				<% placeholder = translate "Tell a joke..." %>
				<% submit_text = translate "Post" %>
			<% elsif post_type == :question %>
				<%= hidden_field_tag :question, true %>
				<% placeholder = translate "Ask a question..." %>
				<% submit_text = translate "Ask" %>
			<% elsif post_type == :art %>
				<%= hidden_field_tag :art, true %>
				<% placeholder = translate "Share some art..." %>
				<% submit_text = translate "Post" %>
			<% end %>
		<% else %>
			<% placeholder = translate "Start a thread..." %>
			<% submit_text = translate "Post" %>
		<% end %>
		
		<p>
			<%= f.text_area :body, placeholder: placeholder, class: "form-control" %>
		</p>
		<p class="form-control">
			<%= f.label translate "Request translation" %>
			<%= f.check_box :translation_requested %>
		</p>
		
		<% if @tab or @subtab or (defined? post_type and post_type == :art) %>
			<p>
				<%= f.file_field :image, class: "form-control" %>
			</p>
		<% end %>
		
		<p>
			<%= f.submit submit_text, class: "btn btn-default btn-lg btn-block" %>
		</p>
	<% end %>
</div>