<div id="card">
	<table align="center">
		<tr>
			<td>
				<%= link_to "Jokes", jokes_path, method: :get %>
			</td>
			<td>
			|
			</td>
			<td>
				<%= link_to "Questions", questions_path, method: :get %>
			</td>
			<td>
			|
			</td>
			<td>
				<%= link_to "Search", search_path, method: :get %>
			</td>
		</tr>
	</table>
	
	<%= form_for @post, html: {multipart: true, "data-ajax" => false} do |f| %>
		<% if defined? post_type %>
			<% if post_type == :joke %>
				<%= hidden_field_tag :joke, true %>
				<% placeholder = "Tell a joke..." %>
				<% submit_text = "Post" %>
			<% elsif post_type == :question %>
				<%= hidden_field_tag :question, true %>
				<% placeholder = "Ask a question..." %>
				<% submit_text = "Ask" %>
			<% end %>
		<% else %>
			<% placeholder = "Start a thread..." %>
			<% submit_text = "Post" %>
		<% end %>
		
		<p>
			<%= f.text_area :body, placeholder: placeholder %>
		</p>
		<p>
			<%= f.submit submit_text %>
		</p>
	<% end %>
</div></br>