<!-- posts -->

<div id="card">
	<% if @social %>
	<div align="center">
		<div class="btn-group">
			<% unless @tab %>
				<% for tab in Tab.most_popular %>
					<%= link_to name_shown(tab), tab_path(tab), class: "btn btn-default" %>
				<% end %>
				<%= link_to translate("More"), tabs_path, class: "btn btn-default" %>
			<% else %>
				<% for subtab in @subtabs %>
					<% if subtab %>
						<%= link_to name_shown(subtab), tab_subtab_path(@tab, subtab), class: "btn btn-default" %>
					<% end %>
				<% end %>
				<%= link_to translate("More"), tab_subtabs_path(@tab), class: "btn btn-default" %>
			<% end %>
		</div>
	</div></br>
	<% end %>
	
	<%= form_for @post, html: {multipart: true, "data-ajax" => false} do |f| %>
		<% if @tab %>
			<%= hidden_field_tag :tab_id, params[:id] %>
		<% elsif @subtab %>
			<%= hidden_field_tag :subtab_id, params[:id] %>
		<% end %>
		
		<% if defined? post_type %>
			<% if post_type == :joke %>
				<%= hidden_field_tag :joke, true %>
				<% placeholder = translate "Tell a joke..." %>
				<% submit_text = translate "Post" %>
			<% elsif post_type == :question %>
				<%= hidden_field_tag :question, true %>
				<% placeholder = translate "Ask a question..." %>
				<% submit_text = translate "Ask" %>
			<% elsif post_type == :art %>
				<%= hidden_field_tag :art, true %>
				<% placeholder = translate "Share some art..." %>
				<% submit_text = translate "Post" %>
			<% end %>
		<% else %>
			<% placeholder = translate "Start a thread..." %>
			<% submit_text = translate "Post" %>
		<% end %>
		
		<p>
			<%= f.text_area :body, placeholder: placeholder, class: "form-control" %>
		</p>
		<p class="form-control">
			<%= f.label translate "Request translation" %>
			<%= f.check_box :translation_requested %>
		</p>
		
		<% if @tab or @subtab %>
			<p>
				<%= f.file_field :image, class: "form-control" %>
			</p>
			<% if @tab %>
				<% if @tab.features.exists? action: "post_expiration" %>
					<p>
						<%= f.label translate("Expiration date (optional)") %>
						<%= f.date_select :expiration_date, use_month_numbers: true, class: "form-control" %>
					</p>
				<% end %>
				<% if @tab.features.exists? action: "post_repopulation" %>
					<% options = [[translate("Repopulation interval (optional)"), nil]] %>
					<% (7..30).each { |i| options << i } %>
					<p>
						<%= f.select :repopulation_interval, options_for_select(options), {}, class: "form-control" %>
					</p>
				<% end %>
			<% end %>
		<% end %>
		
		<p>
			<%= f.submit submit_text, class: "btn btn-default btn-lg btn-block" %>
		</p>
	<% end %>
</div>