<!-- posts -->

<div id="card">
	<% if @social %>
		<%= render "tabs/pop_tabs" %>
		</br>
	<% end %>
	
	<%= form_for @post, html: {multipart: true, "data-ajax" => false} do |f| %>
		<% if @tab %>
			<%= hidden_field_tag :tab_id, params[:id] %>
		<% elsif @subtab %>
			<%= hidden_field_tag :subtab_id, params[:id] %>
		<% end %>
		<p>
			<%= f.text_area :body, placeholder: translate("Start a thread..."), class: "form-control" %>
		</p>
		<p class="form-control">
			<%= f.label translate("Request translation") %>
			<%= f.check_box :translation_requested %>
		</p>
		
		<% if @tab or @subtab %>
			<p>
				<%= f.file_field :image, class: "form-control" %>
			</p>
			<% if @tab %>
				<% if @tab.features.exists? action: "post_repopulation" %>
					<% options = [[translate("Repopulation interval (optional)"), nil]] %>
					<% (7..30).each { |i| options << i } %>
					<p>
						<%= f.select :repopulation_interval, options_for_select(options), {}, class: "form-control" %>
					</p>
				<% end %>
				<% if @tab.features.exists? action: "sales_dialogue" %>
					<p class="form-control">
						<%= f.label translate("Item for sale") %>
						<%= f.check_box :sale %>
					</p>
				<% end %>
			<% end %>
		<% end %>
		
		<p>
			<%= f.submit translate("Post"), class: "btn btn-default btn-lg btn-block" %>
		</p>
	<% end %>
</div>