<div id="card">
	<div align="center">
		<div class="btn-group">
			<button type="button" class="btn btn-default" formaction=<%= jokes_path %>>Jokes</button>
			<button type="button" class="btn btn-default" formaction=<%= art_path %>>Media</button>
			<button type="button" class="btn btn-default" formaction=<%= questions_path %>>Questions</button>
			<button type="button" class="btn btn-default" formaction=<%= search_path %>>Search</button>
		</div>
	</div></br>
	
	<%= form_for @post, html: {multipart: true, "data-ajax" => false} do |f| %>
		<% if defined? post_type %>
			<% if post_type == :joke %>
				<%= hidden_field_tag :joke, true %>
				<% placeholder = "Tell a joke..." %>
				<% submit_text = "Post" %>
			<% elsif post_type == :question %>
				<%= hidden_field_tag :question, true %>
				<% placeholder = "Ask a question..." %>
				<% submit_text = "Ask" %>
			<% elsif post_type == :art %>
				<%= hidden_field_tag :art, true %>
				<% placeholder = "Share some art..." %>
				<% submit_text = "Post" %>
				<p>
					<%= f.file_field :image %>
				</p>
			<% end %>
		<% else %>
			<% placeholder = "Start a thread..." %>
			<% submit_text = "Post" %>
		<% end %>
		
		<p>
			<%= f.text_area :body, placeholder: placeholder %>
		</p>
		<p>
			<%= f.submit submit_text %>
		</p>
	<% end %>
</div></br>