<div id="large_button">
	<%= link_to translate("Site Translations"), translations_path, class: "btn btn-default btn-lg btn-block" %>
</div></br>

<% for post in @posts %>
	<div id="card">
		<%= render "posts/time_ago", post: post %>
		<%= render "posts/posted_by", post: post %></br>
		<div align="center">
			<p><strong><%= translate("Needs to be translated:") %> </strong></p>
			<div><%= post.body %></div></br>
			
			<%= form_for post, url: post_path(post), method: :patch do |f| %>
				<%= hidden_field_tag translation_requested: false %>
				<%= hidden_field_tag id: post.id %>
				<p>
					<%= f.text_area :body, placeholder: translate("Spanish"), class: "form-control" %>
				</p>
				<p>
					<%= f.text_area :english_version, placeholder: translate("English"), class: "form-control" %>
				</p>
				<p>
					<%= f.submit translate("Update"), class: "btn btn-default btn-lg btn-block" %>
				</p>
			<% end %>
		</div>
	</div></br>
<% end %>