<!-- activities -->

<div id="card">
	<%= link_to time_ago(time_ago_in_words(act.created_at)), activity_path(act), id: :top_left_link %>
	<% if act.ip %>
		<%= link_to act.ip, activities_path(activity_ip: act.ip), id: :top_right_link %>
	<% end %>
	
	<% if act.user %>
		<%= link_to act.user.name.capitalize, user_path(act.user.name), id: :bottom_right_link %>
	<% end %>
	
	<% if act.ip.present? and (act.latitude.nil? or act.address.nil?) %>
		<%= link_to translate("Get location"), get_location_path(act.id), id: :bottom_left_link %>
	<% end %>
	<div align="center" id="activity_data">
		<div>
			<%= translate("Action:") + " " %><%= link_to act.action,
			activities_path(activity_action: act.action) %>
		</div>
		<% if act.address %>
			<div>
				<%= translate("Address:") + " " %><%= link_to act.address,
					activities_path(activity_address: act.address) %>
			</div>
		<% end %>
		<% if act.latitude %>
			<div>
				<%= translate("Latitude:") + " " + act.latitude.to_s %>
				<%= translate("Longitude:") + " " + act.longitude.to_s %>
			</div>
		<% end %>
	</div>
</div>