<% if current_user and current_user.admin %>
<div id="card">
	<div align="center">
		<p><%= translate("Game Boards in play:") + " " + GameBoard.all.size.to_s %></p>
		<p><%= translate("Unique locations:") + " " + Activity.unique_locations.size.to_s %></p>
		<p><%= translate("Total actions:") + " " + Activity.all.size.to_s %></p>
		<p><%= translate("Unique visits:") + " " + Activity.unique_visits.size.to_s %></p>
		<div><%= translate("Total users:") + " " + User.all.size.to_s %></div>
	</div>
</div>
</br>
<% end %>