<% if master? %>
<div id="card">
	<div align="center">
		<p><%= translate("Game Boards in play:") + " " + GameBoard.all.size.to_s %></p>
		<p><%= translate("Unique locations:") + " " %><%= link_to Activity.unique_locations.size.to_s, unique_locations_path %></p>
		<p><%= translate("Total actions:") + " " %><%= link_to Activity.all.size.to_s, activities_path %></p>
		<p><%= translate("Unique visits:") + " " + Activity.unique_visits.size.to_s %></p>
		<div><%= translate("Total users:") + " " %><%= link_to User.all.size.to_s, users_path %></div>
	</div>
</div>
<% end %>

<% for act in @activities %>
	<%= render "activities/card", act: act %>
<% end %>

<%= render "pages/more_back", all_items: @all_activities, items: @activities %>