<!-- features -->

<div class="container-fluid">
	<% interval = 0 %>
	<% col_size = 3 %>
	<% row_size = 4 %>
	<% tab_feature_defs.each do |key, value| %>
		<% if interval == 0 %>
			<div class="row">
				<div class="col-md-<%= col_size %>">
					<%= render "features/pre_feature_card",
						key: key, value: value %>
				</div>
		<% elsif interval < row_size %>
			<div class="col-md-<%= col_size %>">
				<%= render "features/pre_feature_card",
					key: key, value: value %>
			</div>
		<% elsif interval % row_size == 0 %>
		</div>
		<div class="row">
			<div class="col-md-<%= col_size %>">
				<%= render "features/pre_feature_card",
					key: key, value: value %>
			</div>
		<% elsif interval > row_size %>
			<div class="col-md-<%= col_size %>">
				<%= render "features/pre_feature_card",
					key: key, value: value %>
			</div>
		<% end %>
		<% interval += 1 %>
	<% end %>
</div>