<!-- stats -->

<!-- set for the max number of goals -->
<% max_score = 31 + 1 %>

<%= form_for @stat do |f| %>
	<%= hidden_field_tag :tab_id, params[:tab_id] %>
	<%= f.hidden_field :sports_match_id, value: params[:id] %>
	<div id="card">
		<%= f.label translate("What's current the score?"), class: :form_label_text %>
		<p>
			<% options = [["#{@teams.first.name}'s " + translate("score"), nil]] %>
			<% max_score.times { |i| options << [i, [@teams.first.id, i]] } %>
			<%= select_tag :team_1, options_for_select(options), class: "form-control" %>
		</p>
		<p>
			<% options = [["#{@teams.second.name}'s " + translate("score"), nil]] %>
			<% max_score.times { |i| options << [i, [@teams.second.id, i]] } %>
			<%= select_tag :team_2, options_for_select(options), class: "form-control" %>
		</p>
		<p>
			<%= f.file_field :image, class: "form-control" %>
		</p>
		<p class="form-control">
			<%= f.label "Final scores" %>
			<%= f.check_box :finished %>
		</p>
		<p>
			<%= f.submit translate("Submit"), class: "btn btn-default btn-lg btn-block" %>
		</p>
	</div>
<% end %>
