<!-- tips -->

<% if defined? tip and defined? kind \
	and still_learning? kind and tip_auth? kind %>
	<script><%= render "tips/fade_in.js", kind: kind %></script>
	<script><%= render "tips/tip_clicked.js", kind: kind %></script>
	<% top ||= nil; bottom ||= nil; right ||= nil; left ||= nil %>
	<div class="tip_card" id="<%= kind %>" onclick="tip_clicked()"
		style="<%= inline_position(top, right, bottom, left) %>" hidden>
		<div class="fa fa-times tip_exit"></div>
		<% unless defined? no_arrow %>
			<div class="tip_arrow"></div>
		<% end %>
		<%= translate(tip) %>
	</div>
<% end %>
