<!-- tips -->

<% if defined? tip and defined? kind and still_learning? kind \
	and tip_auth? kind and (correct_order? kind or defined? triggered) %>
	<% top ||= nil; bottom ||= nil; right ||= nil; left ||= nil %>
	<div class="tip_card" id="<%= kind %>" style="<%= inline_position(top, right, bottom, left) %>" hidden>
		<% unless defined? triggered %>
			<script><%= render "tips/fade_in.js", kind: kind %></script>
		<% end %>
		<script><%= render "tips/click_event.js", kind: kind %></script>
		<div class="fa fa-times tip_exit"></div>
		<% unless defined? no_arrow %>
			<div class="tip_arrow"></div>
		<% end %>
		<%= translate(tip) %>
	</div>
<% end %>
