<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to image_tag("elheroe.png", size: "60x30"), root_path,
				class: "navbar-brand", id: "elheroe_logo" %>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<% unless current_user %>
				<li>
					<%= link_to translate("Log in"), root_url %>
				</li>
				<li>
					<%= link_to translate("Sign up"), new_user_path %>
				</li>
				<% else %>
				<li>
					<%= link_to translate("Games"), user_game_boards_path(current_user) %>
				</li>
				<li>
					<%= link_to translate("Social"), tabs_path %>
				</li>
				<li>
					<%= link_to notes_path do %>
						<% if current_user.notes.unchecked.size > 0 %>
							<div><%= translate("Notes") %> <span class="badge">
								<%= current_user.notes.unchecked.size %>
							</span></div>
						<% else %>
							<div><%= translate("Notes") %></div>
						<% end %>
					<% end %>
				</li>
				<% end %>
			</ul>
			<% if current_user %>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<div class="navbar-form navbar-left" id="search_bar">
						<%= render "search/search_bar" %>
					</div>
				</li>
				<li>
					<%= link_to current_user.name.capitalize, user_path(current_user) %>
				</li>
				<% if current_user.admin %>
				<li>
					<%= link_to translate("Admin"), admin_path %>
				</li>
				<% end %>
				<li>
					<%= link_to translate("Log out"), sessions_destroy_path,
					data: { confirm: 'Are you sure you want to log out?' } %>
				</li>
			</ul>
			<% end %>
		</div><!--/.nav-collapse -->
	</div>
</div>