<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to image_tag("elheroe.png", size: "60x30"), root_path,
				class: "navbar-brand", id: "elheroe_logo", title: translate("News and Local Events") %>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<% unless current_user %>
				<li>
					<%= link_to html_safe(translate("Log in") + ' <i class="fa fa-sign-in"></i>'),
						root_url, title: translate("Log in if you've already signed up") %>
				</li>
				<li>
					<%= link_to html_safe(translate("Sign up") + ' <i class="fa fa-pencil-square-o"></i>'),
						new_user_path, title: translate("Sign up to get more features") %>
				</li>
				<% else %>
				<li>
					<%= link_to html_safe(translate("Social") + ' <i class="fa fa-users"></i>'), tabs_path,
						title: translate("Post and share content specific to your interests and locale") %>
				</li>
				<li>
					<%= link_to html_safe(translate("Games") + ' <i class="fa fa-trophy"></i>'),
						boards_path, title: translate("Play and win prizes") %>
				</li>
				<li id="notes_nav_li">
					<%= link_to notes_path, title: translate("View your notifications") do %>
						<% notes = translate("Notes") %>
						<% if current_user.notes.unchecked.size > 0 %>
							<div><%= html_safe(notes + ' <i class="fa fa-bell"></i>') %> <span class="badge">
								<%= current_user.notes.unchecked.size %>
							</span></div>
						<% else %>
							<div><%= html_safe(notes + ' <i class="fa fa-bell-o"></i>') %></div>
						<% end %>
					<% end %>
				</li>
				<% end %>
			</ul>
			<% if current_user %>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<div class="navbar-form navbar-left" id="search_bar">
						<%= render "search/search_bar" %>
					</div>
				</li>
				
				<li role="presentation" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
						<%= current_user.name.capitalize %> <span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<%= link_to html_safe(translate("Profile") + ' <i class="fa fa-user"></i>'),
								user_path(current_user.name), title: translate("View your profile") %>
						</li>
						<% if privileged? %>
						<li>
							<%= link_to html_safe(translate("Admin") + ' <i class="fa fa-cogs"></i>'), admin_path %>
						</li>
						<% end %>
						<li>
							<%= link_to html_safe(translate("Log out") + ' <i class="fa fa-power-off"></i>'), sessions_destroy_path,
							data: { confirm: 'Are you sure you want to log out?' } %>
						</li>
					</ul>
  			</li>
			</ul>
			<% end %>
		</div><!--/.nav-collapse -->
	</div>
</div>
