<!DOCTYPE html>
<html>
<head>
	<title><%= translate("El Hero")%></title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= favicon_link_tag 'favicon.ico' %>
	<%= csrf_meta_tags %>

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	
	<!-- Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>


<body>
	<div id="main">
		<%= render "layouts/nav" %>
		
		<div id="content">
			<%= render "banners/banner" %>
			<%= render "layouts/messages" %>
			
			<%= yield %>
		</div>
	</div>
</body>
</html>
